
@media (min-width: 760px) and (max-width: 1025px) {
    .chatHeader {
        width: 85vw;
    }
}
@media (min-width: 566px) and (max-width: 759px) {
    .chatHeader {
        width: 80vw;
    }
}
@media (min-width: 300px) and (max-width: 565px) {
    .chatHeader {
        width: 75vw;
    }
}
